.grid {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-gap: 1em;
}


.nunito-cos {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /*to mozna zmieniac*/
  font-style: normal;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/*https://colorhunt.co/palette/efece38fabd44a70a9000000*/
body {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  padding: 1em 0;
  background-color: #8FABD4;
}

header{
    position: sticky;
    top: 0;
    background: #4A70A9;
    min-height: 150px;
}

.header-content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
.logo{
    grid-column: 1;
    justify-self: start;
    height: 100%;
    max-height: 150px;
    width: auto;
    display: flex;
    align-items: center;
}

.logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.header-text {
    grid-column: 2;
    text-align: center; /* Opcjonalnie, jeśli tekst ma być wyśrodkowany */
}

aside{
  flex-direction: column;
  background: #EFECE3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 150px;
  min-width: 150px;
}

article{
  padding: 10px;
  flex-direction: column;
  background: #EFECE3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  min-width: 150px;
}

article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 95%;
  height: auto;
}

aside img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 95%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.gallery img {
  flex: 1 1 calc(50% - 8px); /* Dwa zdjęcia obok siebie */
  min-width: 250px;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}

.gallery video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.gallery img:hover {
  transform: scale(1.05);
}

footer {
  flex-direction: column;
  background: #4A70A9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}